@import './variables';

:root {
  color: $black;
  background-color: white;

  --theme-toggle-button-color: #{white};
  --theme-toggle-button-bg: #{$primary-500};
  --theme-toggle-button-hover: #{$primary-400};

  &[data-theme='dark'] {
    color: white;
    background-color: $primary-900;

    --theme-toggle-button-color: #{white};
    --theme-toggle-button-bg: #{$secondary-500};
    --theme-toggle-button-hover: #{$secondary-400};
  }
}
